@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/Resources">Resources</a></p>
    <p><a href="/Authors">Authors</a></p>
    <p><a href="/Subjects">Subjects</a></p>
    <p><a href="/ResourceTypes">Resource types</a></p>
    <p><a href="/Departments">Departments</a></p>
    <p><a href="/Faculties">Faculties</a></p>
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
