@model InfoResourcesWebApplication.RegisterViewModel

@{
    ViewData["Title"] = "Add user";
}

<h1>Реєстрація нового користувача</h1>

<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="department"></label><br />
        <input asp-for="department" />
        <span asp-validation-for="department"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="passwordConfirm"></label><br />
        <input asp-for="passwordConfirm" />
        <span asp-validation-for="passwordConfirm"></span>
    </div>
    <div>
        <input type="submit" value="Реєстрація" />
    </div>
</form>